#eatwatch { height: 24px; }
.eatwatch-eat { background: #4aad09; }
.eatwatch-donteat { background: #ff403f; }
#calories-input { position: relative; }
#calories-input input {
  font-size: 28px;
  margin-left: 15%;
  width: 85%;
}
#calories-input label {
  position: absolute;
  top: 16px;
  left: 14px;
}
#calories-submit a { font-size: 30px; }
