#eatwatch {
  font-size: 58px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 white;
  padding: 20px 0 10px 0;
}
.eatwatch-eat { color: #4aad09; }
.eatwatch-donteat { color: #ff403f; }
#calories-input { position: relative; }
#calories-input input {
  font-size: 28px;
  margin-left: 15%;
  width: 85%;
}
#calories-input label {
  position: absolute;
  top: 16px;
  left: 14px;
}
