<div id="home">
  <ul class="edit rounded">
    <li id="calories-input">
      <input type="text" name="calories" id="calories" placeholder="123" />
      <label for="calories">kcal</label>
    </li>
  </ul>
  
  <ul id="calories-submit" class="rounded">
    <li class="arrow"><a href="counters/eaten.txt" class="eaten">Gegessen</a></li>
    <li class="arrow"><a href="counters/burned.txt" class="burned">Verbrannt</a></li>
  </ul>
  
  <ul id="info" class="rounded">
    <li class="eaten">
      <h3>Heute gegessen</h3>
      <p>0</p>
    </li>
    <li class="burned">
      <h3>Heute verbrannt</h3>
      <p>0</p>
    </li>
    <li class="sum">
      <h3>Aktueller Stand</h3>
      <p>0</p>
    </li>
  </ul>
  
  <div id="reset">
    <a href="#">Zurücksetzen</a>
  </div>
</div>