<div id="home">
  <div id="eatwatch" class="eatwatch-eat"></div>
  
  <ul class="edit rounded">
    <li id="calories-input">
      <input type="text" name="calories" id="calories" placeholder="123" />
      <label for="calories">kcal</label>
    </li>
  </ul>
  
  <ul id="calories-submit" class="rounded">
    <li class="arrow"><a href="#" class="eaten">Gegessen</a></li>
    <li class="arrow"><a href="#" class="burned">Verbrannt</a></li>
  </ul>
  
  <ul id="info" class="rounded">
    <li>
      <h3>Aktueller Stand</h3>
      <p>-1702</p>
    </li>
    <li>
      <h3>Heute verbrannt</h3>
      <p>330</p>
    </li>
    <li>
      <h3>Heute gegessen</h3>
      <p>1024</p>
    </li>
  </ul>
</div><!-- #home -->

<!--<div id="home">
	<div class="toolbar">
	  <h1>Eat Watch</h1>
	</div>
	
	<div class="info">
	 This is a info field :)
	</div>
	
	<ul class="rounded">
	  <li class="arrow"><a href="#forms">Show some forms</a></li>
      <li><a href="#pageevents">Page events</a></li>
      <li id="swipeme">Swipe me!</li>
      <li id="orient">Orientation: <strong>profile</strong></li>
  </ul>
</div>

<div id="forms">
  <div class="toolbar">
    <h1>Heyhey</h1>
    <a href="#" class="back">Back</a>
  </div>
  
  <form>
    <ul class="edit rounded">
      <li><input type="text" placeholder="kcal" /></li>
    </ul>
    <ul class="rounded">
      <li><textarea placeholder="Comments here..."></textarea></li>
    </ul>
    <ul class="rounded">
      <li><input type="checkbox" title="Checkbox anybody?" /></li>
    </ul>
    
    <a href="#" class="submit grayButton">Ajax Submit</a>
  </form>
</div>-->