<div id="login">
  <div class="toolbar">
    <h1>Mustardamus' Eat Watch</h1>
  </div>
  
  <form action="/authenticate" method="post">
    <ul class="edit rounded">
      <li><input type="text" placeholder="Password" /></li>
      <li><input type="submit" /></li>
    </ul>
  </form>
</div>