#eatwatch { height: 24px; }
.eatwatch-eat { background: #4aad09; }
.eatwatch-donteat { background: #ff403f; }
#calories-input { position: relative; }
#calories-input input {
  font-size: 28px;
  margin-left: 15%;
  width: 85%;
}
#calories-input label {
  position: absolute;
  top: 16px;
  left: 14px;
}
#calories-submit a { font-size: 30px; }
#info { background: #dddddd; }
#info li {
  border-top: 1px solid #eeeeee;
  position: relative;
}
#info li h3 { font-size: 14px; }
#info li p {
  text-align: right;
  position: absolute;
  top: 8px;
  right: 10px;
  color: #333333;
  text-shadow: 1px 1px 0 white;
}
#info li:first-child { border: 0; }
#reset { text-align: center; }
#reset a {
  display: inline;
  color: white;
  background: #005d8c;
  text-decoration: none;
  padding: 4px 10px 3px 10px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  text-shadow: 1px 1px 0 #003f5f;
}
